<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
    <title>Express Demo</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</nav>

    <h1>Welcome to the Home Page</h1>
<div class="container">
  
        <% pets.forEach(pet => { %>
            <li>
                <h2><%= pet.name %> </h2>
                <p>(<%= pet.species %>)</p>
            <img src= "<%= pet.image %>"/>
            <p class="text"><%=pet.description %></p>
            </li>
                <% }) %>
    
   
</div>
   
</body>
</html>